body{
    font-family: "Tibetan Machine Uni";
}
.focus-outline-none:focus{
    outline: none;
}
.border-radius-15{
    border-radius: 15px;
}
.border-radius-25{
    border-radius: 25px;
}
.border-radius-50{
    border-radius: 50px;
}
.small-image-50{
    width: 50px;
    height: 50px;
}
.small-image-30{
    width: 30px;
    height: 30px;
}
.small-image-20{
    width: 20px;
    height: 20px;
}
.small-image-10{
    width: 10px;
    height: 10px;
}

.md-image-300{
    width: 300px;
    height: 300px;
}
.md-image-200{
    width: 200px;
    height: 200px;
}
.md-image-100{
    width: 100px;
    height: 100px;
}

.profile-picture{
    width: 100%;
    height: 47vh;
}

.text-navbar{
    font-family: "roboto", sans serif;
}

.navbar-element{
    border-radius: 15px;
}

.navbar-element:hover {
    background-color: rgba(20, 20, 20, 0.1);
    cursor: pointer;
}

.navbar-profile:hover {
    background-color: gray;
}

.border-radius-15{
    border-radius: 15px
}
.border-radius-5{
   border-radius: 5px;
}
.tab{
    height: 95vh;
}
.cursor-pointer{
    cursor: pointer;
}

.tab-option-element:hover{
    background-color: royalblue;
    color: white;
}
.tab-option-element > span{
    font-size: 20px;
}
.scroll-custom-y{
    overflow-y: scroll;
}
.scroll-custom-y::-webkit-scrollbar{
    width: 7px;
}
.scroll-custom-y::-webkit-scrollbar-thumb{
    background-color: royalblue;
    border-radius: 15px;
}
.scroll-custom-x{
    overflow-y: scroll;
}
.scroll-custom-x::-webkit-scrollbar{
    width: 7px;
}
.scroll-custom-x::-webkit-scrollbar-thumb{
    background-color: royalblue;
    border-radius: 15px;
}

.sub-tab-header{
    height:5%;
    font-size: 20px;
    font-weight: bold;
}
.sub-tab-body{
    height: 100%;

}

.discussion-search-bar-content{
    border: none;
    background-color: rgba(0, 0, 200, 0.3);
}

#discussion-search-bar{
    border: none;
    width: 110%;
    height: 90%;
    margin-top: 1%;
    background: none;
    color: white;
}
#discussion-search-bar:focus{
    outline: none;
}

.msg-preview-picture{
    margin-left: -100%;
}
.etc{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.msg-preview-msg, .msg-preview-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.msg-preview-msg{
    opacity: 0.5;
}
.msg-preview-hour{
    margin-top: 100%;
    margin-left: -100%;
    font-size: 10px;
    text-align: center;
}

.msg-preview-content:hover{
    background-color: royalblue;
    color: white;
}

.msg-content-header{
    height: 10%;
}
.msg-content-body{
    height: 78%;
}
.msg-content-footer{
    height: 12%;
}
.msg-date{
    font-size: 10px;
}
.msg-content{
    border-radius: 15px;
    padding: 1% 3% 1% 3%;
    word-break: break-all;
    width: fit-content;
}
.msg-content-you{
    background-color: rgba(0, 0, 0, 0.2);
}
.msg-content-me{
    background-color: royalblue;
    color: white;
}

.msg-profile-picture{
    margin-top: auto;
}



.msg-area{
    font-size: 15px;
    resize: none;
    padding: 1% 3% 1% 3%;
    border-radius: 20px;
    width: 110%;
    height: 60px;
    background-color: rgba(0, 0, 200, 0.3);
    border: none;
    margin-left: -5%;
}
.msg-area:focus{
    outline: none;
}
